
.panel > .panel-heading {
    background-image: none;
    background-color: #5A55A3;
    color: white;
	text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}