<div class="col col-md-12">
<table st-table="leaveApproval" class="table table-striped" st-safe-src="rowCollectionApproval" >
	<thead>
	<tr>
		<th>Employee Name</th>
		<th>Application Date</th>
		<th>Leave date</th>
		<th>Duration</th>
		<th>status</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in leaveApproval">
		<td>{{row.employeeInfo.firstName + " " + row.employeeinfo.lastName}}</td>
		<td>{{row.leaveHistory.creationTime | date : 'yyyy-MM-dd'}}</td>
		<td>{{row.leave.startdate}}</td>
		<td>{{row.leave.noOfDays}}</td>
		<td>{{row.leaveHistory.leaveStatusCode | leaveStatus}}</td>
		<td><button class="btn btn-danger" ng-disabled="" ng-click="updateStatus(row,0)">Reject</button>
			<button class="btn btn-success" ng-disabled="" ng-click="updateStatus(row,1)">Approve</button></td>
	</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" class="text-center">
				<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="4"></div>
			</td>
		</tr>
<!-- 		</tfoot> -->
</table>
</div>