<div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation"><a href="#password" target="_self" ng-click="saythename()"aria-controls="password" role="tab" data-toggle="tab">Change
				Password</a></li>
		<li role="presentation" class="active"><a href="#SecurityQuestion" target="_self" ng-click="saythename()" aria-controls="contact" role="tab" data-toggle="tab">Change
				Contact</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="password">
			<div class="login-page">
				<div class="form">
					<form class="login-form">
						<input type="password"  placeholder="Current Password"/>
						<input type="password"  placeholder="New Password" />
						<input type="password"  placeholder="Confirm Password"  ng-model="employeeProfile.password"/>
						<button class="btn btn-primary" ng-click="updatePassword()">Change Password</button>

					</form>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="SecurityQuestion">
			<div class="login-page">
				<div class="form">
					<form class="login-form">
						
						<input type="password"  placeholder="New Password" />
						<input type="password"  placeholder="Confirm Password" />
						<button href="" ng-click="">Change Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="../style/settings.css">