<div class="col col-md-12">
<table st-table="leaveHistory" class="table table-striped">
	<thead>
	<tr>
		<th>Leave Tag</th>
		<th>Apply Date</th>
		<th>Leave date</th>
		<th st-sort="duration">Duration</th>
		<th>status</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in leaveHistory">
		<td>{{row.leaveTag}}</td>
		<td>{{row.applyDate}}</td>
		<td>{{row.leaveDate}}</td>
		<td>{{row.duration}}</td>
		<td>{{row.status}}</td>
		<td><button class="btn btn-danger" ng-click="showAlert()">Cancle</button></td>
	</tr>
	</tbody>
	<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
</table>
</div>