<div class="registeration-page">
	<form class="form">
		<div class="form-group">
			<input type="text" class="form-control" id="empCode" ng-model="employeeInfo.empCode" placeholder="Employee ID">
		</div>
		<div class="form-group">
			<input type="Text" class="form-control" id="fName" ng-model="employeeInfo.firstName" placeholder="First Name">
		</div>
		<div class="form-group">
			<input type="Text" class="form-control" id="LName" ng-model="employeeInfo.lastName" placeholder="Last Name">
		</div>
		<div class="form-group">
			<input type="Email" class="form-control" id="email" ng-model="employeeInfo.email" placeholder="Email">
		</div>
		<div class="form-group">
			<input type="Text" class="form-control" id="mobile" ng-model="employeeInfo.mobile" placeholder="Contact Number">
		</div>
		<div class="form-group">
			<input type="Password" class="form-control" id="password" ng-model="employeeInfo.password" placeholder="password">
		</div>
		<div class="form-group">
			<input type="Password" class="form-control" id="confPassword" placeholder="Confirm Password">
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="employeeInfo.gender">
				<option value="" selected>Gender</option>
				<option value="true">Male</option>
				<option value="false">Female</option>
			</select>
		</div>
		<button type="submit" class="btn btn-default" ng-click="createNewUser()">Submit</button>
		<p class="message">
					Already Registered?<a ui-sref="login">Create an account</a>
				</p>
	</form>
</div>

